<!DOCTYPE html>
<html>
<head>
  <title>Inicio</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    body {
      font-family: "Arial", sans-serif;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #f3f3f3;
    }
    
    .container {
      text-align: center;
    }

    .logo {
      width: auto;
      max-width: 200px;
      height: auto;
      display: block;
      margin: 0 auto 20px;
    }

    .button {
      display: inline-block;
      margin: 10px;
      padding: 10px 20px;
      font-size: 16px;
      text-decoration: none;
      background-color: #4285F4;
      color: white;
      border-radius: 5px;
    }
  </style>
</head>
<body>
  <div class="container">
    <img src="/CustomLoginLogo.jpg" alt="Logo" class="logo">
    <a href="/login" class="button">Iniciar sesión</a>

  </div>
</body>
</html>
