<!DOCTYPE html>
<html>
<head>
  <title>Inicio Estudiante</title>
</head>
<body>
  <form action="/upload" method="post" enctype="multipart/form-data">
    <label for="file">Nombre del archivo:</label>
    <input type="text" id="file-name" name="file-name">
    <input type="file" id="file" name="file">
    <button type="submit">Subir archivo</button>
  </form>
</body>
</html>
