<!DOCTYPE html>
<html>
<head>
  <title>Subir Consultoría</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    body {
      font-family: "Arial", sans-serif;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #f3f3f3;
    }
    
    .container {
      text-align: center;
    }
    
    .form {
      display: inline-block;
      background-color: white;
      padding: 20px;
      border-radius: 5px;
      text-align: left;
      width: 300px;
    }
    
    .button, .submit-button {
      display: block;
      margin: 10px auto; /* centrado */
      padding: 10px 20px;
      font-size: 16px;
      text-decoration: none;
      background-color: #4285F4;
      color: white;
      border-radius: 5px;
      border: none;
    }
  </style>
</head>
<body>
  <div class="container">
    <a href="/" class="button">Atrás</a>
    <div class="form">
      <h2>Subir Consultoría</h2>
      <form action="/subir_consultoria" method="post" enctype="multipart/form-data">
        <label for="file">Archivo:</label><br>
        <input type="file" id="file" name="file" required><br><br>
        <label for="descripcion">Descripción:</label><br>
        <textarea id="descripcion" name="descripcion" rows="4" cols="50" required></textarea><br><br>
        <input type="submit" class="submit-button" value="Subir">
      </form>
    </div>
  </div>
</body>
</html>
